.cart {
  margin-top: 60px;
  padding: 0 10ch;
  margin-bottom: 5ch;
}

.cart__top-buttons {
  margin-bottom: 2ch;
  width: 100%;
  justify-content: right;
}

.cart__total-block {
  text-align: right;
  display: flex;
  height: 120px;
}

/* .cart__total-list {
  list-style: none;
  text-align: left;
}

.cart__total-li {
  display: flex;
}

.cart__total-line {
  flex: 0.5;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
}

.cart__total-sum {
  align-items: flex-end;
} */

.cart__total-line {
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
}

.alternative-component__title {
  color: #ec386e;
  background-color: #ec386e;
}

.cart__down-container {
  width: 300px;
  margin-top: 4ch;
}

.cart__span-container {
  text-align: left;
  margin-bottom: 1ch;
}

.cart__sum-container {
  font-weight: bold;
  text-align: left;
}

.component__info {
  color: #7e838c;
  font-size: 10px;
}

@media screen and (max-width: 1050px) {
  .cart {
    padding: 0 20px;
  }
}
