.search-results {
  padding: 10ch 10ch 0 10ch;
}

/**/
.search-results__title {
  color: #001529;
  display: flex;
  align-items: flex-end;
  margin: 0 0 30px 0;
}

.search-results__result {
  color: #ec386e;
  font-weight: bold;
}

.search-results__text {
  margin: 0 0 1px 1ch;
  font-weight: 400;
}

@media screen and (max-width: 1050px) {
  .search-results__title {
    padding: 0 20px;
  }
}
/**/
.search-results__table {
  margin-bottom: 5ch;
}

.search-results__image {
  width: 60px;
  height: 60px;
  margin-top: 1ch;
}

.search-results__manufacturer {
  font-size: 12px;
  color: #7e838c;
}

.search-results__pagination-block {
  display: flex;
  justify-content: center;
}

.search-results__pagination {
  margin-bottom: 5ch;
}

@media screen and (max-width: 1050px) {
  .search-results {
    padding: 0 20px;
  }
}
