.slider {
  text-align: center;
  margin: 0 auto;
  max-width: 1470px;
}

.slider__container {
  min-width: 100%;
  display: flex;
  overflow-x: auto;
}

.slider__dividers {
  padding: 0 10ch;
}

@media screen and (max-width: 1050px) {
  .slider__dividers {
    padding: 0 20px;
  }
}

.slider__next-btn {
  cursor: pointer;
  color: darkgrey;
  font-size: 30px;
}

.slider__next-btn:hover {
  color: #1676feff;
}

.card-switch-lines {
  margin: 4ch 0;
  color: darkgrey;
  cursor: pointer;
  font-size: 20px;
}

.card-switch-lines__item {
  margin: 0 1.5ch 0 1.5ch;
}

.card-switch-lines__active {
  color: #1676fe;
}

.pop-products__scroll {
  overflow: auto;
}

@media screen and (max-width: 1050px) {
  .slider__next-btn {
    display: none;
  }

  .card-switch-lines__item {
    display: none;
  }
}

@media screen and (min-width: 1050px) {
  .pop-products__wrap {
    display: none;
  }
}
