.main-search {
  text-align: center;
  background-color: whitesmoke;
  background-image: linear-gradient(
      to bottom,
      rgba(5, 21, 41, 0.5),
      rgba(245, 245, 245, 100)
    ),
    url(../../assets/img/search_bg.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% 70%;
  background-size: cover;
  height: 60vh;
  width: 100%;
  color: #ffffff;
}

.main-search__container {
  margin-top: 25vh;
  width: 50%;
}

.main-search__divider {
  background-color: white;
}

.main-search__input {
  padding: 0 3ch;
}

@media screen and (max-width: 1050px) {
  .main-search__btns-container {
    display: none;
  }

  .main-search__container {
    margin-top: 15vh;
    width: auto;
  }

  .main-search__bom {
    margin-bottom: 1ch;
  }
}
