.bgSearch {
    background-image:
            linear-gradient(to bottom, rgba(5, 21, 41, 0.55), rgba(245, 245, 245, 100)),
            url(../../assets/img/line.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 40%;
    background-size: cover;
    height: 60vh;
    width: 100vw;
    color: #001529;
    color: white;
}