.category-nestedlist {
    margin: 5ch 0;
}

.category-nestedlist__list {
    padding: 0 2ch;
    margin: 5ch 0;
}

.category-nestedlist__quntity {
    margin-bottom: 1.5%;
    text-align: right;
}

.category-nestedlist__name {
    padding-left: 10px;
}