.not-found {
  padding: 30ch 10ch 0 10ch;
  align-items: center;
  justify-content: center;
  max-width: 1470px;
  display: flex;
  gap: 45px;
}

@media screen and (max-width: 1050px) {
  .not-found {
    padding: 10ch 20px 0 20px;
  }
}

.not-found__code {
  font-size: 225px;
  color: #1677ff;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.not-found__right {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  line-height: 150%;
  gap: 22px;
}

.not-found__error {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.not-found__paragraph {
  margin: 0;
  font-size: 18px;
}
