.bascket {
    padding: 0 10ch;
    margin-bottom: 5ch;
}

.bascket__top-buttons {
    margin-bottom: 2ch;
    width: 100%;
    justify-content: right;
}

.bascket__totalblock {
    text-align: right;
    display: flex;
}

.alternative-component__title {
    color: #ec386e;
    background-color: #ec386e;
}

.component__info {
    color: #7e838c;
    font-size: 10px;
}

@media screen and (max-width: 1050px) {
    .bascket {
        padding: 0 20px;
    }
}