.navbar {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    padding-inline: 2.5ch;
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    font-size: 3.3ch;
    width: auto;
    height: 90px;
}

.logo__a {
    color: white;
}

.logo__a:hover {
    color: white;
    font-size: 1.9ch;
}

.logo__slogan {
    color: whitesmoke;
    font-size: 2ch;
    display: flex;
    align-items: start;
    justify-content: start;
    line-height: 2ch;
    width: 20ch;
    margin: 0 2ch 0 1ch;
}

.navbar-basket {
    color: darkgrey;
    cursor: pointer;
    font-size: 20px;
    margin: 1.7ch 1.5ch 0 1.5ch;
}

.navbar-basket:hover {
    color: white;
}

.navbar-user {
    line-height: 2ch;
    color: white;
    cursor: pointer;
    display: flex;
    width: auto;
    margin-right: 5ch;
}

.navbar-user__icon {
    background-color: #78de80;
    color: #05112c;
    margin-bottom: 0.5ch;
}