.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-inline: 2.5ch;
    left: 0;
    top: 0;
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: flex;
    color: white;
    margin-left: 0.5ch;
    margin-right: 1ch;
    font-size: 25px;
}

.logo {
    cursor: pointer;
    font-size: 3.3ch;
    width: auto;
    height: 90px;
}

.logo__a {
    color: white;
}

.logo__a:hover {
    color: white;
    font-size: 1.9ch;
}

.logo__slogan {
    color: whitesmoke;
    font-size: 2ch;
    display: flex;
    align-items: start;
    justify-content: start;
    line-height: 2ch;
    width: 20ch;
    margin: 0 2ch 0 1ch;
}

.navbar__menu {
    display: flex;
}

.navbar-basket {
    color: darkgrey;
    cursor: pointer;
    font-size: 20px;
    margin: 1.7ch 1.5ch 0 1.5ch;
}

.navbar-basket:hover {
    color: white;
}

.navbar-user {
    line-height: 2ch;
    color: white;
    cursor: pointer;
    display: flex;
    width: auto;
    margin-right: 5ch;
}

.navbar-user__icon {
    background-color: #78de80;
    color: #05112c;
    margin-bottom: 0.5ch;
}

.navbar-user__rightmenu {
    color: white;
    cursor: pointer;
}

.navbar__rightmenu {
    width: 256px;
    position: fixed;
    z-index: 99;
    height: 100vh;
    right: 0;
    top: 50px;
}

.navbar__rightmenuicon {
    background-color: #78de80;
    color: #05112c;
    margin-left: -1ch;
}

.navbar__rightmenuname {
    font-weight: bold;
}

@media screen and (max-width: 1050px) {

    .navbar {
        padding-inline: 1.5ch;
    }

    .logo {
        font-size: 2ch;
        height: 73px;
    }

    .logo__a:hover {
        font-size: 2.05ch;
    }

    .navbar-user__icon {
        cursor: pointer;
    }

    .navbar-user {
        display: none;
    }

    .logo__slogan {
        display: none;
    }

    .navbar__menu {
        display: none;
    }

    .navbar-basket {
        font-size: 25px;
        color: white;
        margin: 1.2ch 2ch 0 1.5ch;
    }

    .navbar-user {
        display: none;
    }

}

@media screen and (min-width: 1050px) {

    .navbar__rightmenu {
        display: none;
    }

    .navbar-user__rightmenu {
        display: none;
    }

}