.component-card {
  display: flex;
  padding: 60px 10ch 0 10ch;
  flex-direction: column;
}

.component-card__container {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 769px) {
  .component-card {
    padding: 60px 20px 0 20px;
  }

  .component-card__container {
    flex-direction: column;
    align-items: center;
  }

  .component-card__title {
    text-align: center;
  }

  .component-card__footnote {
    text-align: center;
  }
}

.component-card__list {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-component__span {
  color: grey;
  font-weight: 500;
}

.component-card__price {
  font-weight: 600;
  font-size: 20px;
}

.component-card__btns {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.component-card__like {
  font-size: 15px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.component-card__like:hover {
  font-size: 18px;
}

.component-card__footnote {
  font-style: italic;
}
