.success-page__container {
  margin: 0 auto;
  max-width: 1470px;
  display: flex;
  justify-content: center;
  padding: 100px 0 100px 0;
}

.success-page__registration {
  display: block;
  text-align: center;
  max-width: 620px;
}
