.cards {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 10ch 0 10ch;
}

.cards__dividers {
  padding: 0 10ch 30px 10ch;
}

@media screen and (max-width: 1050px) {
  .cards {
    padding: 0 20px;
  }

  .cards__dividers {
    padding: 0 20px 20px 20px;
  }
}

.cards__box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cards__card-container:hover {
  opacity: 0.85;
  box-sizing: border-box;
  z-index: 1;
  transition: all 0.45s ease;
}

.cards__card {
  position: relative;
  background-size: cover;
  text-align: start;
  width: 40ch;
  height: 24ch;
}
