.card__bg {
    background-image:
            linear-gradient(to bottom, rgb(126, 135, 159, 0.2), rgb(255, 255, 255, 100)),
            url(../../assets/img/conductors.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: start;
    background-position: 10% 7.3ch;
    width: 55ch;
}

.card__wrap:hover {
    opacity: 0.8;
    box-sizing: border-box;
    z-index: 1;
    transition: all 0.45s ease;
}

.card__row-padding {
    text-align: start;
}

.card__padding {
    padding: 2ch 0;
}


