/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {
    /* стили */
}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
    /* стили */
}

/* iPads (горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* стили */
}

/* iPads (вертикальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .card_bg {
        height: 20ch;
    }
}

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen  and (min-width: 1224px) {
    .card_bg {
        height: 28ch;
        width: 40ch;
    }
}

@media only screen and (max-width: 1824px) {
    .card_bg {
        height: 32ch;
        width: 45ch;
    }
}

/* Большие экраны ----------- */
@media only screen and (min-width: 1824px) {
    .card_bg {
        height: 28ch;
        width: 55ch;
    }
}

.card_bg {
    background-image: url(../../assets/img/conductors.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 110% 50%;
}