.card_bg {
    background-image: url(../../assets/img/conductors.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: start;
    background-position: 110% 50%;
    width: 55ch;
}

.row_card_padding_categories {
    text-align: start;
}

.card_pbotton {
    padding: 2ch 0;
}


