.drawer {
  background-color: #96b2bd;
  border-left: 1px solid whitesmoke;
  opacity: 95%;
  width: 256px;
  position: fixed;
  z-index: 99;
  height: 100vh;
  right: 0;
  top: 50px;
  transform: translateX(0);
  transition: all 0.5s linear;
}

.drawer_active {
  transform: translateX(100%);
}

.drawer__background {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(2px);
  position: absolute;
  z-index: 10;
  transition: all 1.2s ease-in;
}

.drawer__background_active {
  display: none;
}

.navbar__rightmenuicon {
  background-color: #78de80;
  color: #05112c;
}
