.autorization__container {
  margin-top: 100px;
  height: 100%;
}

.autorization__form-selector {
  margin: 0 5ch;
  max-width: 100%;
  background-color: #1676fe;
  color: #ffffff;
}

.autorization__form-enter {
  max-width: 80%;
  margin: 5ch 7ch 0 7ch;
  display: none;
}
.autorization__form-enter_active {
  display: block;
}

.autorization__form-registration {
  max-width: 90%;
  max-height: 72vh;
  margin: 5ch 7ch 0 7ch;
  display: block;
  overflow-y: auto;
}
.autorization__form-registration_active {
  display: none;
}

.description__container {
  max-width: 92%;
  margin: 0 5ch 0 0;
}

.description__wrap {
  perspective: 1000px;
  height: 79vh;
  background-color: #2c436e;
}

/* Start Box Effect */

.description__top-line {
  position: absolute;
  width: 100%;
  z-index: 100;
  text-align: start;
  padding: 2ch 0;
}

.description__container-fluid {
  max-width: 1600px;
}

.description__text-right {
  text-align: right;
}

.description__logo {
  font-size: 26px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-left: 2ch;
  white-space: nowrap;
  transition: color 1s ease;
}

.description__span-mark {
  font-weight: 300;
  transition: color 1s ease;
  color: #ec386e;
}

.description__slogan {
  margin-right: 2ch;
  display: inline-flex;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 20px;
  transition: background-color 0.25s ease;
}

.description__card-header {
  /*height: 100vh;*/
  /* min-height: 700px;*/
  overflow: hidden;
  position: relative;
}
.description__card-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 77%;
  width: 100%;
  background-image: url('../../assets/img/svg/russia.svg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
}

.description__content {
  /*height: 100%;*/
  color: white;
  padding: 10% 15%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.description__text-wrapper {
  text-align: left;
}

.description__content-title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 2ch;
}

.content-logo {
  color: #ec386e;
  font-weight: bolder;
}

.description__content-text {
  margin-bottom: 20px;
}

.description__trylink {
  color: #ec386e;
  font-weight: bold;
  margin-top: 2ch;
  display: inline-block;
  font-size: 16px;
}
.description__trylink:hover {
  color: #ee5884;
}

.description__trylink-bird {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: white;
  width: 30px;
  height: 30px;
  background-color: #ec386e;
  text-align: center;
  border-radius: 100%;
  line-height: 25px;
  margin-right: 5px;
}

.content-down {
  margin-top: 90px;
  color: #6279a6;
  height: 20vh;
}

.description__squads {
  position: relative;
  rotate: 70deg;
  top: 15ch;
  left: 30ch;
}

.description__squad-1 {
  position: absolute;
  display: flex;
  width: 450px;
  height: 450px;
  rotate: 10deg;
  opacity: 95%;
}

.description__squad-2 {
  position: absolute;
  display: flex;
  width: 400px;
  height: 400px;
  rotate: 60deg;
  opacity: 70%;
}

.description__squad-3 {
  position: absolute;
  display: flex;
  width: 370px;
  height: 370px;
  rotate: 82deg;
  opacity: 50%;
}

.description__squads-content {
  position: absolute;
  rotate: -10deg;
  top: 4.5ch;
  left: 18ch;
  width: 38ch;
}

.description__squads-wrap {
  color: #102959;
  margin-bottom: 3ch;
  text-align: left;
  display: flex;
  line-height: 15px;
}

.description__squads-icon {
  font-size: 30px;
  margin-right: 2ch;
  color: #ec386e;
}

/* End Box Effect */

@media screen and (max-width: 768px) {
  .description {
    display: none;
  }

  .autorization__form-selector {
    margin: 0 5ch;
  }

  .autorization__form-enter {
    justify-content: center;
    display: none;
    margin: 5ch 5ch;
  }
  .autorization__form-enter_active {
    display: flex;
  }

  .autorization__form-registration {
    justify-content: center;
    display: flex;
    margin: 5ch 5ch;
    overflow: visible;
  }
  .autorization__form-registration_active {
    display: none;
  }
}
