.container {
    margin-top: 100px;
    height: 100%;
}

.form-selector {
    margin: 0 5ch;
    max-width: 100%;
    background-color: #1676fe;
    color: #ffffff;
}

.form-enter {
    max-width: 80%;
    margin: 5ch 7ch 0 7ch;
    display: none;
}
.form-enter_active {
    display: block;
}

.form-registration {
    max-width: 90%;
    max-height: 72vh;
    margin: 5ch 7ch 0 7ch;
    display: block;
    overflow-y: auto;
}
.form-registration_active {
    display: none;
}

.slider {
    max-width: 92%;
    margin: 0 5ch 0 0;
}

.slider-content__wrap {
    perspective: 1000px;
    height: 79vh;
    line-height: 79vh;
}

/* Start Box Effect */

.top-line {
    position: absolute;
    width: 100%;
    padding: 60px 0;
    z-index: 100;
    text-align: start;
}

.container-fluid {
    max-width: 1600px;
}

.text-right {
    text-align: right;
}

.logo {
    font-size: 26px;
    color: rgb(3, 15, 31);
    font-weight: bold;
    padding: 10px;
    white-space: nowrap;
}
.logo:hover {
    text-decoration: none;
    color: #030f1f;
}
.span-neo {
    font-weight: 300;
    transition: color 1s ease;
    color: #5072ff;
}
.span-neo:hover{
    text-decoration: none;
    color: #425ECBFF;
 }

.button {
    background-color: #5072ff;
    color: white;
    padding: 10px 28px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
}
.button:hover {
    color: white;
    text-decoration: none;
    background-color: #425ecb;
}

/* End Box Effect */


@media screen and (max-width: 768px) {
    .slider-container {
        display: none;
    }

    .form-selector {
        margin: 0 5ch;
    }

    .form-enter {
        justify-content: center;
        display: none;
        margin: 5ch 5ch;
    }
    .form-enter_active {
        display: flex;
    }

    .form-registration {
        justify-content: center;
        display: flex;
        margin: 5ch 5ch;
        overflow: visible;
    }
    .form-registration_active {
        display: none;
    }
}