.category-nestedlist__container {
  display: flex;
  gap: 2ch;
}

@media screen and (max-width: 473px) {
  .category-nestedlist__container {
    gap: 1ch;
  }
}

.category-nestedlist__quantity {
  text-align: right;
  width: 60px;
  margin-bottom: 1ch;
}

@media screen and (max-width: 473px) {
  .category-nestedlist__quantity {
    width: 40px;
  }
}
